# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env*.local
.env
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# test & reports
/coverage
/playwright-report
/test-results

# macOS & OS files
.DS_Store
*.pem
docs.zip
Reports/
